@media screen and (max-width: 1024px) {
  body .container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  body .container header {
    width: 100%;
  }
  body .container header .container__header {
    width: 100%;
  }
  body .container section.banner__house {
    width: 100%;
    padding: 0px 10px;
  }
  body .container section.banner__house .container__banner__house {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text {
    padding-right: 10px;
  }
  body .container section.promotion {
    padding: 50px 10px;
  }
  body .container section.promotion .container__promotion {
    width: 100%;
  }
  body .container section.choose {
    padding: 50px 10px;
  }
  body .container section.choose .container__choose {
    width: 100%;
  }
  body .container section.testimonial {
    padding: 50px 10px;
  }
  body .container section.testimonial .container__testimonial {
    width: 100%;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text .rating__testimomial .profile__rating {
    width: 70%;
  }
  body .container footer {
    padding: 50px 10px;
  }
  body .container footer .container__footer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body .container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  body .container header {
    width: 100%;
  }
  body .container header .container__header {
    width: 100%;
  }
  body .container section.banner__house {
    width: 100%;
    padding: 0px 10px;
  }
  body .container section.banner__house .container__banner__house {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text {
    padding-right: 10px;
  }
  body .container section.promotion {
    padding: 50px 10px;
  }
  body .container section.promotion .container__promotion {
    width: 100%;
  }
  body .container section.choose {
    padding: 50px 10px;
  }
  body .container section.choose .container__choose {
    width: 100%;
  }
  body .container section.testimonial {
    padding: 50px 10px;
  }
  body .container section.testimonial .container__testimonial {
    width: 100%;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text .rating__testimomial .profile__rating {
    width: 100%;
  }
  body .container footer {
    padding: 50px 10px;
  }
  body .container footer .container__footer {
    width: 100%;
  }
  body .container footer .container__footer .row__footer .container__list__footer {
    width: 500px;
  }
}

@media screen and (max-width: 570px) {
  body .container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  body .container header {
    width: 100%;
    padding: 4% 2%;
  }
  body .container header .container__header {
    width: 100%;
  }
  body .container header .container__header .logo a {
    position: relative;
    z-index: 350;
  }
  body .container header .container__header .hamburger {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 17px;
    right: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 400;
    cursor: pointer;
  }
  body .container header .container__header .hamburger span.bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .container header .container__header .hamburger.hamburgerBar span.bar:first-child {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
            transform: rotate(45deg) translate(7px, 7px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .container header .container__header .hamburger.hamburgerBar span.bar:nth-child(2) {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0;
    -webkit-transform: 0.5s;
            transform: 0.5s;
  }
  body .container header .container__header .hamburger.hamburgerBar span.bar:last-child {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .container header .container__header nav.house {
    position: fixed;
    top: 0;
    width: 0;
    margin-right: 0px;
    right: -50%;
    overflow-x: hidden;
    min-height: 50vh;
    background-color: #F9FCFC;
    z-index: 300;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
  }
  body .container header .container__header nav.house ul.list__house {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20%;
  }
  body .container header .container__header nav.house ul.list__house li.list__item__house {
    margin: 10px 0px;
    padding: 5px 0px;
  }
  body .container header .container__header nav.house.navShow {
    width: 100%;
    right: 0%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .container section.banner__house {
    width: 100%;
    background-position: top;
  }
  body .container section.banner__house .container__banner__house {
    width: 100%;
    padding: 100px 0px;
  }
  body .container section.banner__house .container__banner__house .row__banner__house {
    padding: 0px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text {
    width: 100%;
    margin-top: 10%;
    text-align: center;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text h1 {
    font-size: 35px;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text span.banner__text {
    text-align: center;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text button.btn__banner {
    margin: 20px auto;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__slider {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__slider .slider__items {
    width: 100%;
  }
  body .container section.promotion {
    padding: 50px 10px;
  }
  body .container section.promotion .container__promotion {
    width: 100%;
  }
  body .container section.promotion .container__promotion .text__promotion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container section.promotion .container__promotion .text__promotion .text__promotion__inside {
    width: 100%;
    text-align: center;
  }
  body .container section.promotion .container__promotion .text__promotion .text__promotion__inside h1 {
    font-size: 30px;
  }
  body .container section.promotion .container__promotion .text__promotion button.btn__promotion {
    margin: 30px auto;
  }
  body .container section.promotion .container__promotion .slider__container__promotion {
    width: 100%;
  }
  body .container section.promotion .container__promotion .slider__container__promotion .wrapper__promotion {
    width: 100%;
  }
  body .container section.promotion .container__promotion .slider__container__promotion .wrapper__promotion .slider__promotion__box {
    width: 100%;
  }
  body .container section.choose {
    padding: 50px 10px;
  }
  body .container section.choose .container__choose {
    width: 100%;
  }
  body .container section.choose .container__choose .row__choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container section.choose .container__choose .row__choose .box__choose {
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }
  body .container section.choose .container__choose .row__choose .box__choose span {
    text-align: center;
  }
  body .container section.testimonial {
    padding: 50px 10px;
  }
  body .container section.testimonial .container__testimonial {
    width: 100%;
  }
  body .container section.testimonial .container__testimonial .row__testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text {
    width: 100%;
    text-align: center;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text h1 {
    font-size: 30px;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text .rating__testimomial .profile__rating {
    width: 100%;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__text .box__comment__rating {
    display: none;
  }
  body .container section.testimonial .container__testimonial .row__testimonial .box__image__testimonial {
    display: none;
  }
  body .container footer {
    padding: 50px 10px;
  }
  body .container footer .container__footer {
    width: 100%;
  }
  body .container footer .container__footer .row__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body .container footer .container__footer .row__footer .box__footer {
    text-align: center;
    margin-top: 10%;
  }
  body .container footer .container__footer .row__footer .container__list__footer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container footer .container__footer .row__footer .container__list__footer .box__footer__list {
    margin-top: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  body .container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  body .container section.banner__house {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text {
    width: 100%;
  }
  body .container section.banner__house .container__banner__house .row__banner__house .box__banner__house__text .box__counter {
    width: 100%;
  }
}
/*# sourceMappingURL=mobile.css.map */